/*all pages*/
body{
  background: url("../images/background.jpg");
  margin: 0px;
  padding: 0px;
}

/*NAVBAR*/
.divAvatar{
  padding-top: 20px;
  text-align: center;
}


  .image-round{
    border-radius: 50%;
    width: 50%;
    object-fit: cover;
}

.dropdown_avatar {
  width: 40px;
  margin-right:  15px; 
}
.btn {
  
  height: 50px;
 
}

.dropdown {
  height: 50px;
  float: right;
  position: relative;
}

.dropdown-menu {
  color: white;
  text-align: center;
  left: -50px;
}

.profile{
  float: left;
  height: 30px;
  width: 40%;
}

.signOut{
  float: right;
  height: 30px;
  width: 40%;
}


.navbar-brand { 
  padding: 0;
}

.loginContainer{
  margin: 0 auto;
  text-align: center;
}

.logo {
	padding-top: 20px;
	width: 30%;
}

.nav{
width: 40%;
}

.navlog {
  display: table-cell;
  width: 38%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 7px;
  margin-left: 2px;
    
}
.button-signin{
  width: 20%;
  height: 34px;
  margin-top: 7px;
  float: right;
}

.buttonSigIn{
  width: 100%;
}


.list-group{
 text-align: left;
}

/*/navbar*/


/*sidebar*/
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 200px;
  height: 100%;
  color: #e1ffff;
}

.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;

}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }

  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
    width: 100%;
  }

  .name{
    font-size: .7em;
  }
  
  .name2{
    font-size: 1em;
  }

  .dropdown-menu h4
  {
     left: 80px;

  }

 .divAvatar{
  width: 60%;
  margin:0 auto;
  }  

 .divAvatar h4{
  font-size: 20px;
  }  

}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  #main {
  	width:calc(100% - 200px);
  	float: right;
  }
}

/*/Sidebar*/


/*CONTENT*/
.container-fluid,.navbar-default,.dropdown-menu{
  background-color: #23282e;
}

.borderStudent{
  width: 95%;
  margin: 0 auto;
  background-color: white;
  border-top: 5px solid #97cef0;
  padding: 25px;

}

.content {
  overflow-x: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #23282e;
  color: white;
  text-align: center;
}

.banner{
  width: 100%;
  margin-bottom: 50px;
  margin:0 auto;
  opacity: 0.8;
}

.contents {
  background: rgba(0,0,0,0.5);
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 30px white;
}

.button-log-prof{
  background-color: #23282e;
  color: white;
  border: 0;
  border-radius: 0;
}

.botton-bottom {
  margin-top: 200px;
}

.content-header{
  padding-bottom: 20px;
}

.login-box-body{
  width: 35%;
  margin: 0 auto;
  padding: 20px;
}
 
.border_registerform{
  padding: 25px;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  border-top: 5px solid #97cef0;
}

.box-profile{
  padding: 25px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  border-top: 5px solid #97cef0;

}

.form-control{
  margin-bottom: 10px;
}

.container{
  padding-bottom: 70px;
}


.title1 {
  font-size:30px;
  text-align: center;
}

.sub {
  margin-left:45%
}

.act {
  font-size:  18px;
}

.border {
 
  margin: 0px;
  width: 95%;
  margin: 20px 20px;
}
.create {
  padding-top: 50px;
  text-align: center;
}

.icon{
  position: absolute;
  right: 10%;
  text-align: center;
  z-index: 0;
  top: 30px;
  color: rgba(0,0,0,0.15)
}

.student-reg{
  background-color: #00c0ef;
  border:3px solid gray;
  padding-bottom: 0;
}

.passmark {
  background-color: #00a65a;
  border:3px solid gray;
  padding-bottom: 0;
}

.fail{
  background-color: #dd4b39;
  border:3px solid gray;
  padding-bottom: 0;
}

.inbox{
  background-color: #1f84b8;
  border:3px solid gray;
  padding-bottom: 0;
}
.email{
  background-color: #f17721;
   border:3px solid gray;
  padding-bottom: 0;
}
.activity{
  background-color: #89c553;
  border:3px solid gray;
  padding-bottom: 0;
}

.small-box-footer{
  position: relative;
  text-align: center;
  padding: 10px 0;
  color: #fff;
  color: rgba(255,255,255,0.8);
  display: block;
  z-index: 10;
  background: rgba(0,0,0,0.1);
  text-decoration: none;
  bottom: 0;

}
.breadcrumb{
  position: relative;
  margin-top: 5px;
  float: none;
  background: #d2d6de;
  padding-left: 5px;
  padding-right:  5px;
}

.content-header{
  padding: 0;
}

.inline li {
  display: inline-block;
}

.add{
 margin-top: 20px;
 float: right;
}

.online{
  width: 20px;
}

.offline {
  width: 15px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

.list-group-item {
  height: 70px;
}

.carousel{
  padding-top: 50px;
}

/*/CONTENT*/